# Dependencies
node_modules/
.pnpm-store/

# Production Builds
dist/
build/
out/
*.tsbuildinfo

# .NET / C#
bin/
obj/
*.user
*.suo
.vs/
.vscode

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db
